# Sorting Values in Pandas

In [1]:
import pandas as pd

Ascending order:

In [2]:
data = {'item': ['laptop', 'monitor', 'HDMI', 'speaker'],
        'cost': [500, 300, 700, 600]
       }

df = pd.DataFrame(data)

sorted_data = df.sort_values(by='cost', ascending=True)

sorted_data

      item  cost
1  monitor   300
0   laptop   500
3  speaker   600
2     HDMI   700

Descending order:

In [3]:
sorted_data = df.sort_values(by='cost', ascending=False)

sorted_data

      item  cost
2     HDMI   700
3  speaker   600
0   laptop   500
1  monitor   300